.navbar {
    background-color: gold;
    grid-area: n;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 7px;
}

.friends__list {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
}

.active {
    color: red;
    font-size: 24px;
}

.item {
    color: black;
    text-decoration: none;
    font-size: 24px;
}
